<meta property="og:title" content="{{ .Title }}{{ if ne .Title .Site.Title }} - {{ .Site.Title }}{{ end }}"/>
<meta property="og:type" content="website"/>
<meta name="og:description" content="A very silly website for making very silly emoji">

<meta property="og:url" content="{{ .Permalink }}"/>
<meta property="og:site_name" content="{{ .Site.Title }}"/>
<meta property="og:locale" content="en_GB"/>

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ .Title }}{{ if ne .Title .Site.Title }} - {{ .Site.Title }}{{ end }}">
<meta name="twitter:site" content="@type__error">
<meta name="twitter:description" content="A very silly website for making very silly emoji">

<meta property="og:image" content="images/og-image.png"/>
<meta property="twitter:image" content="images/og-image.png"/>