{{ $konva := resources.Get "/js/konva.js" | minify }}
{{ $gif := resources.Get "/js/gif.js" | minify  }}
{{ $gifWorker := resources.Get "/js/gif.worker.js" | minify  }}
{{ $index := resources.Get "/js/index.js" | minify }}
{{ $scripts := slice  $index  | resources.Concat "/js/bundle.js" | fingerprint }}
<script src="/js/what-input.min.js" defer="defer"></script>
<script src="{{ $scripts.Permalink }}" defer="defer" integrity="{{ $scripts.Data.Integrity }}"></script>
<script src="{{ $gifWorker.Permalink }}" defer="defer"></script>
<script src="{{ $gif.Permalink }}" defer="defer"></script>
<script src="/js/emojinator.js" defer="defer"></script>
<script src="/js/statusifier.js" defer="defer"></script>
<script src="/js/partyizer.js" defer="defer"></script>
<script src="/js/rotatinator.js" defer="defer"></script>
<script src="/js/yeemoji.js" defer="defer"></script>
<script src="/js/embiggener.js" defer="defer"></script>
{{ if eq .Title "Yeemojinator"}}
  <script src="{{ $konva.Permalink}}" defer="defer"></script>
{{end}}