<div class="canvas hidden" id="actions">
  <div class="canvas-actions">
    <button id="move-up" class="action-button" type="button">Move to top</button>
    <button id="move-down" class="action-button" type="button">Move to back</button>
    <button id="select-all" class="action-button" type="button">Select all</button>
    <button id="select-none" class="action-button" type="button">Deselect all</button>
  </div>
  <div id="superimposer-canvas" class="canvas-border"></div>
  <div class="canvas-actions">
    <button id="shrink" class="action-button" type="button">Shrink canvas to fit image</button>
    <button id="download" type="button">Download</button>
  </div>
</div>

<p>Select images by double-clicking them or click &amp; drag in the canvas.<br/>Click in blank areas of the canvas to deselect.</p>
<p>Your image will be as big as the canvas - when you're done, scale up the image so it fills the box.</p>