.full-width {
  text-align: center;
  max-width: 900px;
  margin: 0.5rem;
  @include mq($from: tablet) {
    margin: 1rem;
  }

  @include mq($from: desktop) {
    margin: 0 auto;
    margin-top: 2rem;
    width: 80vw;
    padding: 2rem;
    padding-top: 0;
  }
}

.main-container {
  margin-bottom: 3rem;
}

.top-pad {
  padding-top: 1rem;
}

.bottom-pad {
  padding-bottom: 1rem;
}

.page-title {
  // font-family: var(--family-monospace);
  margin-bottom: 2rem;
  margin-top: 0;
  // margin-left: 1rem;
}

.social-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.intro {
  border-radius: 6px;
  border: 1px solid var(--border-color);
  padding: 2rem;
  @include mq($from: tablet) {
    max-width: 75%;
  }

  .strong {
    font-variation-settings: 'wght' 600;
    margin-bottom: 1rem;
  }
}

.grid h2,
.intro h2 {
  margin-bottom: 1rem;
}
