:root {
  --aqua-84: hsla(164, 97%, 84%, 1);
  --aqua-90: hsla(164, 97%, 90%, 1);
  --magenta-90: hsla(303, 88%, 90%, 1);
  --magenta-60: hsla(303, 88%, 60%, 1);
  --lime-70: hsla(125, 88%, 70%, 1);
  --lime-50: hsla(125, 88%, 50%, 1);
  --cherry-blossom-96: hsla(350, 100%, 96%, 1);
  --purple-80: hsla(251, 78%, 80%, 1);
  --purple-68: hsla(251, 78%, 68%, 1);
  --purple-50: hsla(251, 54%, 50%, 1);
  --sky-blue: hsla(190, 80%, 70%, 1);
  --gunmetal-85: hsla(212, 14%, 85%, 1);
  --lilac-67: hsla(233, 78%, 67%, 1);
  --gunmetal-20: rgb(140, 143, 146);
  --gunmetal-12: hsla(212, 14%, 12%, 1);
  --yellow: hsla(47, 100%, 60%, 1);
  --pacific-blue-60: hsla(187, 100%, 60%, 1);
  --pacific-blue: hsla(187, 100%, 40%, 1);
  --paradise-pink: hsla(349, 78%, 72%, 1);
  --family-monospace: 'Diary of an 8-bit Mage', monospace;
  --heading-font-family: var(--family-monospace);
}

@mixin dark-colors {
  --background-color: fixed
    linear-gradient(hsla(239, 50%, 20%, 1), var(--purple-50) 80%);
  --link-color: var(--aqua-84);
  --body-color: white;
  --header-color: var(--magenta-90);
  --h1-color: var(--sky-blue);
  --h2-color: var(--magenta-60);
  --h3-color: var(--lime-70);
  --h4-color: var(--magenta-90);
  --link-hover-color: var(--yellow);
  --content-box-color: hsla(239, 15%, 12%, 0.95);
  --header-stars-display: inline-block;
  --body-font-weight: 'wght' 375;
  --border-color: rgba(255, 255, 255, 0.2);
  --link-background-color: rgba(255, 255, 255, 0.05);
  --link-background-color-hover: rgba(255, 255, 255, 0.15);
  --button-hover-color-secondary: var(--gunmetal-20);
  --selection-rectangle-fill: rgba(140, 143, 146, 0.5);
}

:root {
  --background-color: fixed
    linear-gradient(var(--yellow), hsla(47, 100%, 85%, 1));
  --body-font-weight: 'wght' 400;
  --link-color: var(--pacific-blue);
  --body-color: var(--gunmetal-12);
  --h1-color: var(--purple-50);
  --h2-color: var(--purple-68);
  --h3-color: var(--lilac-67);
  --h4-color: var(--purple-68);
  --link-hover-color: var(--purple-68);
  --content-box-color: rgb(255, 255, 255);
  --border-color: hsla(0, 2%, 93%, 1);
  --link-background-color: hsla(0, 2%, 98%, 1);
  --link-background-color-hover: hsla(0, 2%, 95%, 1);
  --button-background-color-secondary: var(--purple-80);
  --button-background-color: var(--pacific-blue);
  --button-hover-color: var(--pacific-blue-60);
  --button-color: white;
  --selection-rectangle-fill: hsla(187, 100%, 40%, 0.5);
  --button-hover-color-secondary: var(--purple-80);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-mode: 'dark';
  }

  :root:not([data-user-color-scheme]) {
    @include dark-colors;
  }
}

[data-user-color-scheme='dark'] {
  @include dark-colors;
}

$title-weight: 300;
$weight-bold: 600;

$tablet: 768px;
$desktop: 960px;
$desktop-lg: 1025px;

.visually-hidden {
  display: block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px);
  white-space: nowrap;
  position: absolute;
}
