<div class="canvas" id="actions">
  <div class="controls">
    <button id="move-up" class="action-button" type="button" title="Bring to front">
      <span class="visually-hidden">Bring to front</span>{% include "partials/canvas/bring-to-front.html" %}
    </button>
    <button id="move-down" class="action-button" type="button" title="Move to back">
      <span class="visually-hidden">Move to back</span>{% include "partials/canvas/move-to-back.html" %}
    </button>
    <button id="rotate-left" class="action-button" type="button" title="Rotate anticlockwise">
      <span class="visually-hidden">Rotate anticlockwise</span>{% include "partials/canvas/rotate.html" %}
    </button>
    <button id="rotate-right" class="action-button" type="button" title="Rotate clockwise">
      <span class="visually-hidden">Rotate clockwise</span>{% include "partials/canvas/rotate.html" %}
    </button>
    <button id="flip-horizontal" class="action-button" type="button" title="Flip horizontally">
      <span class="visually-hidden">Flip horizontally</span>{% include "partials/canvas/flip.html" %}
    </button>
    <button id="flip-vertical" class="action-button" type="button" title="Flip vertically">
      <span class="visually-hidden">Flip vertically</span>{% include "partials/canvas/flip.html" %}
    </button>

    <button id="select-all" class="action-button" type="button" title="Select all">
      <span class="visually-hidden">Select all</span>{% include "partials/canvas/select-all.html" %}
    </button>

    <button id="remove-node" class="action-button" type="button" title="Remove selected">
      <span class="visually-hidden">Remove selected</span>{% include "partials/canvas/trash.html" %}
    </button>

  </div>
  <div id="canvas" class="canvas-border"></div>
  <img class="canvas-border" id="output"/>
  <div class="embiggener-output hidden" id="embiggener-output"></div>
</div>
<div class="meta">
  <button id="download" type="button">Download</button>
  <button id="clear-canvas" class="secondary" type="button">Start again</button>

</div>