<script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js" defer="defer"></script>
<script src="https://unpkg.com/what-input@5/dist/what-input.js" defer="defer"></script>
<script src="https://unpkg.com/konva@8/konva.js" defer="defer"></script>
<script src="/scripts/gif.js" defer="defer"></script>
<script src="/scripts/gif.worker.js" defer="defer"></script>
<script src="/scripts/theme.js" defer="defer"></script>
<script src="/scripts/konva-utils.js" defer="defer"></script>
<script src="/scripts/globals.js?ver={{ assetHash}}" defer="defer"></script>
<script src="/scripts/utils.js?ver={{ assetHash}}" defer="defer"></script>
<script src="/scripts/special.js?ver={{ assetHash}}" defer="defer"></script>
<script src="/scripts/creator.js?ver={{ assetHash}}" defer="defer"></script>