<script src="https://unpkg.com/uuid@8.3.2/dist/umd/uuidv4.min.js" defer="defer"></script>
<script src="https://unpkg.com/what-input@5.2.10/dist/what-input.js" defer="defer"></script>
<script src="/scripts/fabric.js" defer="defer"></script>
<script src="/scripts/gif.js" defer="defer"></script>
<script src="/scripts/gif.worker.js" defer="defer"></script>
<script src="/scripts/theme.js" defer="defer"></script>
<script src="/scripts/canvas.js?ver={{ assetHash}}" defer="defer"></script>
<script src="/scripts/utils.js?ver={{ assetHash}}" defer="defer"></script>
<script src="/scripts/special.js?ver={{ assetHash}}" defer="defer"></script>
<script src="/scripts/creator.js?ver={{ assetHash}}" defer="defer"></script>