{{ define "main" }}
  <p>Festive emoji! Add a Santa hat.</p>
  <img src="/images/santahat.png" class="visually-hidden" alt="" id="santa-hat"/>
  <img src="/images/festiverobot.png" alt="" width="100"/>
  <form class="emojinator-form" id="form">

    <label for="party-input">Image to festivinate</label>
    <input
            name="image"
            id="festive-input"
            type="file"
            accept=".jpg, .jpeg, .png"></input>

    <button type="submit" id="submit" disabled>Festivinate!</button>
    <button type="reset" class="secondary">Reset</button>
  </form>
  <button id="add-hat" type="button" class="hidden">Add another hat</button>
  {{ partial "canvas/canvas-area.html" . }}
{{ end }}