{{ define "main" }}
    <p>Emoji, but weirder. Generators for your favourite weirdly specific meme-moji.</p>
    <div class="intro">
        <h2>Getting started</h2>
        <p class="strong">Looking for an emoji to start with?</p>
        <p>
            Search <a href="https://emojipedia.org/" target="_blank" rel="noopener noreferrer">Emojipedia</a> and scroll down <br/> to the examples for images to save.</p>
        <p>Or you can use any PNG or JPG image from your hard drive.</p>
        <p class="strong">Want to make your image transparent first?</p>
        <p>
            Head to <a href="https://remove.bg" target="_blank" rel="noopener noreferrer">remove.bg</a>.</p>
    </div>

    <ul class="grid">
        <li>
            <a href="/accessorizer">
                <div class="ribbon ribbon-top-right">
                    <span>new stuff</span></div>
                <h2>Accessorizer</h2>
                <p>Put some stars in your eyes! Or hearts! Or tears. Or blood. Add a halo, or devil horns.</p>
            </a>
        <li>
            <a href="/superimposerizer">
                <h2>Superimposerizer</h2>
                <p>Stick one image on top of another. Or two. SEVERAL IMAGES.</p>
            </a>
        </li>
        <li>
            <a href="/yeemojinator">
                <h2>Yeemojinator</h2>
                <p>If there isn't a yeequivalent, is it really an emoji?</p>

            </a>
        </li>
        <li>
            <a href="/rotatinator">
                <h2>Rotatinator</h2>
                <p>Make it spin!</p>
                <span class="motion-warning">(motion warning)</span>

            </a>
        </li>
        <li>
            <a href="/embiggener">
                <h2>Embiggener</h2>
                <p>Blow your emoji up into 4 to make a GIANT EMOJI.</p>
            </a>
        </li>
        <li>
            <a href="/partyizer">
                <h2>Partyizer</h2>
                <p>Make a flashy party version of an emoji.</p>
                <span class="motion-warning">(motion warning)</span>
            </a>
        </li>
        <li>
            <a href="/statusifier">
                <h2>Statusifier</h2>
                <p>Add a -done, a -fire, or a -red to tell the world what's going on.</p>
            </a>
        </li>
    </ul>
{{ end }}