{{ define "main" }}
    <p>Emoji, but weirder. Generators for your favourite weirdly specific meme-moji.</p>

    <ul class="grid">
        <li>
            <a href="/yeemojinator">
                <h3>Yeemojinator</h3>
                <p>If there isn't a yeequivalent, is it really an emoji?</p>

            </a>
        </li>
        <li>
            <a href="/rotatinator">
                <h3>Rotatinator</h3>
                <p>Make it spin!</p>
                <span class="motion-warning">(motion warning)</span>

            </a>
        </li>
        <li>
            <a href="/embiggener">
                <h3>Embiggener</h3>
                <p>Blow your emoji up into 4 to make a GIANT EMOJI.</p>
            </a>
        </li>
        <li>
            <a href="/partyizer">
                <h3>Partyizer</h3>
                <p>Make a flashy party version of an emoji.</p>
                <span class="motion-warning">(motion warning)</span>
            </a>
        </li>
        <li>
            <a href="/statusifier">
                <h3>Statusifier</h3>
                <p>Add a -done, a -fire, or a -red to tell the world what's going on.</p>
            </a>
        </li>
    </ul>
{{ end }}