<svg data-colorable="true" viewBox="0 0 28 31" width="128" height="145" xmlns="http://www.w3.org/2000/svg"
  fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2">
  <path d="M28 31.447v-4c0-3.314-2.685-6-6-6H6a6 6 0 00-6 6v4h28z" fill="#3b88c3" data-colortype="tertiary"
    fill-rule="nonzero" />
  <path d="M10 21.447l4 5 4-5v-4h-8v4z" fill="#FFDC5D" data-colortype="primary" data-isskin="true"
    fill-rule="nonzero" />
  <path d="M10 19.447c1.216 1.374 2.355 1.719 3.996 1.719 1.639 0 2.787-.346 4.004-1.72v-4h-8v4z" fill="#EF9645"
    data-colortype="secondary" data-isskin="true" fill-opacity="0.8" fill-rule="nonzero" />
  <ellipse cx="17.14" cy="16.206" rx="8.941" ry="9.812" fill="#FFDC5D" data-colortype="primary" data-isskin="true"
    transform="matrix(.97333 0 0 1.03891 -2.707 -6.642)" />
  <path
    d="M6 27.947H4c0-4.094 1.877-8.5 6-8.5v2c-3.164 0-4 4.252-4 6.5zm17-4h-2c0-.411-.521-2.5-3-2.5v-2c3.533 0 5 2.93 5 4.5z"
    fill="#292f33" fill-rule="nonzero" />
  <circle cx="9" cy="32.5" r="3" fill="#ccd6dd" transform="translate(-4 -4.553)" />
  <circle cx="9" cy="32.5" r="2" fill="#f5f8fa" transform="translate(-4 -4.553)" />
  <path d="M26 29.447h-2c0-.835-.108-5-2.25-5s-2.25 4.165-2.25 5h-2c0-4.383 1.589-7 4.25-7s4.25 2.617 4.25 7z"
    fill="#292f33" fill-rule="nonzero" />
  <circle cx="22.5" cy="34" r="1" fill="#ccd6dd" transform="translate(-4 -4.553)" />
  <circle cx="29" cy="34" r="1" fill="#ccd6dd" transform="translate(-4 -4.553)" />
</svg>