---
layout: 'layouts/base.html'
isHome: false
includeKonva: true
title: "Creator"
---

<div class="workspace">
  <h2 class="visually-hidden">Accessory picker</h2>
  <div class="accessory-selector">
    <h3>Hats</h3>
    <div class="accessory-selector-group">
      {% for hat in hats %}
        <button type="button" class="selector-option"><img src="/images/hats/{{ hat.filename }}" alt="{{ hat.name }}" title="{{ hat.name }}" id="{{ hat.id }}" data-qty="{{ hat.qty }}"/></button>
      {% endfor %}
    </div>
    <h3>Eyes</h3>
    <div class="accessory-selector-group">
      {% for eye in eyes %}
        <button type="button" class="selector-option"><img src="/images/eyes/{{ eye.filename }}" alt="{{ eye.name }}" title="{{ eye.name }}" id="{{ eye.id }}" data-qty="{{ eye.qty}}"/></button>
      {% endfor %}
    </div>
    <h3>Faces</h3>
    <div class="accessory-selector-group">
      {% for face in faces %}
        <button type="button" class="selector-option"><img src="/images/faces/{{ face.filename }}" alt="{{ face.name }}" title="{{ face.name }}" id="{{ face.id }}" data-qty="{{ face.qty}}"/></button>
      {% endfor %}
    </div>
    <h3>Mouths</h3>
    <div class="accessory-selector-group">
      {% for mouth in mouths %}
        <button type="button" class="selector-option"><img src="/images/mouths/{{ mouth.filename }}" alt="{{ mouth.name }}" title="{{ mouth.name }}" id="{{ mouth.id }}" data-qty="{{ mouth.qty}}"/></button>
      {% endfor %}
    </div>
    <h3>Misc</h3>
    <div class="accessory-selector-group">
      {% for miscItem in misc %}
        <button type="button" class="selector-option"><img src="/images/misc/{{ miscItem.filename }}" alt="{{ miscItem.name }}" title="{{ miscItem.name }}" id="{{ miscItem.id }}" data-qty="{{ miscItem.qty}}"/></button>
      {% endfor %}
    </div>
  </div>

  <div class="canvas-area">{% include "partials/canvas/canvas-area.html" %}</div>
  <form id="form" class="uploader">
    <h3>Upload an image</h3>
    <label for="creator-input">Choose an image</label>
    <input
            name="image"
            id="creator-input"
            type="file"
            accept=".jpg, .jpeg, .png"></input>
    <button type="submit" id="submit" disabled>Upload</button>
    <button type="reset" class="secondary">Reset</button>
  </form>
</div>