---
layout: 'layouts/base.html'
isHome: false
includeKonva: true
title: "Creator"
---

<div class="workspace">

  <h2 class="visually-hidden">Accessory picker</h2>

  <div class="accessory-selector">
    <form id="tint-picker">
      <fieldset class="tint-picker">
        <legend>Skin tone</legend>
        <label class="tint-picker-option" id="tint-label-a" for="a"><input type="radio" class="tint-picker-input" id="a" name="tint" value="a"/>
          <span class="visually-hidden">Base</span><img src="/images/swatches/base.svg"/></label>
        <label class="tint-picker-option" id="tint-label-b" for="b"><input type="radio" class="tint-picker-input" id="b" name="tint" value="b"/>
          <span class="visually-hidden">Light</span><img src="/images/swatches/1f3fb.svg"/></label>
        <label class="tint-picker-option" id="tint-label-c" for="c"><input type="radio" class="tint-picker-input" id="c" name="tint" value="c"/>
          <span class="visually-hidden">Medium-light</span><img src="/images/swatches/1f3fc.svg"/></label>
        <label class="tint-picker-option" id="tint-label-d" for="d"><input type="radio" class="tint-picker-input" id="d" name="tint" value="d"/>
          <span class="visually-hidden">Medium</span><img src="/images/swatches/1f3fd.svg"/></label>
        <label class="tint-picker-option" id="tint-label-e" for="e"><input type="radio" class="tint-picker-input" id="e" name="tint" value="e"/>
          <span class="visually-hidden">Medium-dark</span><img src="/images/swatches/1f3fe.svg"/></label>
        <label class="tint-picker-option" id="tint-label-f" for="f"><input type="radio" class="tint-picker-input"id="f" name="tint" value="f"/>
          <span class="visually -hidden">Dark</span><img src="/images/swatches/1f3ff.svg"/></label>
      </fieldset>
    </form>
    <h3>Bases</h3>
    <div class="accessory-selector-group">
      {% for base in bases %}
        <button type="button" class="selector-option"><img src="/images/bases/{{ base.filename }}" alt="{{ base.name }}" class="{{ "tintable" if base.tintable }}" title="{{ base.name }}" id="{{ base.id }}" data-type="base"/></button>
      {% endfor %}
    </div>
    <h3>Hats</h3>
    <div class="accessory-selector-group">
      {% for hat in hats %}
        <button type="button" class="selector-option"><img src="/images/hats/{{ hat.filename }}" alt="{{ hat.name }}" title="{{ hat.name }}" id="{{ hat.id }}" data-qty="{{ hat.qty }}"/></button>
      {% endfor %}
    </div>
    <h3>Eyes</h3>
    <div class="accessory-selector-group">
      {% for eye in eyes %}
        <button type="button" class="selector-option"><img src="/images/eyes/{{ eye.filename }}" alt="{{ eye.name }}" title="{{ eye.name }}" id="{{ eye.id }}" data-qty="{{ eye.qty}}"/></button>
      {% endfor %}
    </div>
    <h3>Mouths</h3>
    <div class="accessory-selector-group">
      {% for mouth in mouths %}
        <button type="button" class="selector-option"><img src="/images/mouths/{{ mouth.filename }}" alt="{{ mouth.name }}" title="{{ mouth.name }}" id="{{ mouth.id }}" data-qty="{{ mouth.qty}}"/></button>
      {% endfor %}
    </div>
    <h3>Misc</h3>
    <div class="accessory-selector-group">
      {% for miscItem in misc %}
        <button type="button" class="selector-option"><img src="/images/misc/{{ miscItem.filename }}" alt="{{ miscItem.name }}" title="{{ miscItem.name }}" id="{{ miscItem.id }}" data-qty="{{ miscItem.qty}}"/></button>
      {% endfor %}
    </div>
  </div>

  <div class="canvas-area">{% include "partials/canvas/canvas-area.html" %}</div>
  <div class="control-panel">
    <form id="form">
      <h3>Upload an image</h3>
      <label for="creator-input">Choose an image</label>
      <input
            name="image"
            id="creator-input"
            type="file"
            accept=".jpg, .jpeg, .png"></input>
      <button type="submit" id="submit" disabled>Upload</button>
      <button type="reset" class="secondary">Reset</button>
    </form>

    <div class="functions">
      <h3>Special</h3>
      <button id="partyize-button" class="secondary">Partyize</button>
      <button id="embiggen-button" class="secondary">Embiggen</button>
      <button id="rotatinate-button" class="secondary">Rotatinate</button>
      <button class="secondary" id="red-button">Redden</button>
    </div>
  </div>
</div>