* {
  box-sizing: border-box;
}

:root {
  @include mq($from: desktop) {
    font-size: 16px;
  }
}

*:focus {
  outline: none;
  // border-bottom: 4px solid var(--primary);
}
/* suppress focus ring on focusable things for mouse users */
[data-whatintent="mouse"] *:focus,
[data-whatintent="touch"] *:focus {
  border-bottom: 0;
  box-shadow: none;
  outline: none;
}

.no-js .darkmode-toggle {
  display: none !important;
}

svg.defs {
  display: none;
}
body {
  font-family: "Inter var", sans-serif;
  font-size: 1rem;
  font-display: swap;
  margin: 0;
  background: var(--background-color);
  color: var(--body);
  font-variation-settings: var(--body-font-weight);

  &:not(:has(.overlay.hidden)) {
    overflow: none;
  }
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-variation-settings: "wght" 600;
  &:active,
  &:hover,
  &:focus {
    text-decoration: underline;
    color: var(--link-hover);
  }
}

h1,
h2,
h3,
h4 {
  &,
  & a {
    font-variation-settings: "wght" 700;
  }
  line-height: 1.2;
  color: var(--heading);
}

h1 {
  font-size: unquote("min(max(1.5rem, 6vw), 40px)");
  margin-bottom: 1rem;
}

h2 {
  margin: 0;
  font-size: 2rem;
  font-size: unquote("min(max(1.25rem, 2.5vw), 25px)");
  line-height: 1.2em;
  a {
    text-decoration: none;
  }
}

h3 {
  font-size: 1.5rem;
  font-size: unquote("min(max(1.1rem, 4vw), 20px)");
  margin-top: 1.5rem;
}

ul {
  padding: 0;
}

button {
  font-family: "Inter var", sans-serif;

  border-radius: 6px;
  border: 0;
  background: var(--primary);
  color: var(--body);
  padding: 0.7rem 1rem;
  font-size: 1rem;
  font-variation-settings: "wght" 600;
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
    color: var(--disabled-button-color);
    &:hover,
    &:focus {
      background: var(--primary);
    }
  }
  &:hover,
  &:active {
    background: var(--primary-hover);
  }

  &.secondary {
    border: 1px solid var(--border-color);
    background-color: var(--secondary);
    color: var(--body-color);

    &[disabled] {
      border: 1px solid var(--border-color);
      background-color: var(--secondary);
      cursor: not-allowed;
      color: var(--disabled-button-color);
    }

    &:hover,
    &:active {
      background: var(--secondary-hover);
    }
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--tertiary);
  }
}
