.workspace {
  text-align: center;
  display: flex;
  width: 100%;
  max-height: 70vh;
  .accessory-selector {
    border-radius: 10px;
    max-height: 100%;
    overflow-y: auto;
    max-width: 33vw;
    background-color: var(--creator-background);
    display: flex;
    flex-direction: column;
    &-group {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .selector-option {
      background: transparent;
      &:hover {
        background: var(--button-hover-color);
      }
      img {
        max-width: 25px;
        max-height: 25px;
      }
    }
  }

  .canvas-area {
    flex: 1;
  }
  .control-panel {
    input {
      border: 0;
      background: transparent;
    }
    padding: 1rem;
    border-radius: 10px;
    max-width: 33%;
    background-color: var(--creator-background);

    .tint-picker {
      margin-top: 2.5rem;
      padding: 0;
      border: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      legend {
        color: var(--h3-color);
        font-size: 1.5rem;
        font-size: unquote("min(max(1.1rem, 4vw), 20px)");
        margin-bottom: 1rem;
        font-family: var(--heading-font-family);
      }
      input {
        opacity: 0;
        position: absolute;
        &:checked + img {
          background-color: var(--link-background-color);
        }
      }
      &-option {
        border-radius: 50%;
        padding: 2px 3px;
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        cursor: pointer;
        &:hover {
          background-color: var(--button-background-color-secondary);
        }
        &.selected {
          border: 1px solid var(--button-background-color-secondary);
        }
        img {
          width: 1.5rem;
        }
      }
    }
  }
}

.meta {
  text-align: center;
  .blurb {
    margin: 1rem auto;
    font-size: 0.9rem;
    max-width: 75%;
  }
}
