.workspace {
  text-align: center;
  display: flex;
  width: 100%;
  max-height: 70vh;

  .konvajs-content {
    background-color: var(--creator-background);
    margin-bottom: 1rem;
  }

  .accessory-container {
    width: 25vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    h2 {
      padding-bottom: 1rem;
    }
  }
  .accessory-selector {
    align-items: stretch;
    background-color: var(--creator-background);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
    padding: 1rem 0;
    width: 100%;
    &-group {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      row-gap: 4px;
      column-gap: 4px;
    }
    .selector-option {
      align-self: center;
      justify-self: center;
      background: transparent;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3rem;
      width: 3rem;
      &:hover {
        background: var(--button-hover-color);
      }
      img {
        max-width: 36px;
        max-height: 36px;
      }
    }

    .skintone-picker {
      width: 100%;
      fieldset {
        padding: 0;
        margin: 0;
        border: 0;
        .skintone-picker-content {
          padding-left: 0.25rem;
          padding-right: 0.25rem;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        legend {
          color: var(--h3-color);
          font-size: 1.5rem;
          font-size: unquote("min(max(1.1rem, 4vw), 20px)");
          margin: 0;
          padding: 0;
          width: 100%;
          font-family: var(--heading-font-family);
        }
        input {
          opacity: 0;
          position: absolute;
          cursor: pointer;
        }
        .skintone-picker-option {
          border-radius: 50%;
          padding: 6px;
          border: 1px solid transparent;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          cursor: pointer;
          &:hover {
            background-color: var(--button-hover-color);
          }
          &.selected {
            background-color: var(--banner-color);
          }
          img {
            width: 2rem;
          }
        }
      }
    }
  }

  .canvas-area {
    flex: 1;
  }
  .control-panel {
    input {
      border: 0;
      background: transparent;
    }
    text-align: left;

    overflow-y: auto;
    font-size: 1rem;
    padding: 1rem 0;
    border-radius: 10px;
    max-width: 33%;
    background-color: var(--creator-background);
    .accordion-content {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

.instructions {
  p:first-of-type {
    margin-top: 0;
  }
}

.meta {
  text-align: center;
  .blurb {
    margin: 1rem auto;
    font-size: 0.9rem;
    max-width: 75%;
  }
}

.accordion {
  &-trigger {
    background-color: var(--accordion-heading-closed);
    border-radius: 0;
    border: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: 18px;
    outline: none;
    padding: 0.5rem;
    text-align: left;
    width: 100%;
    &:after {
      content: "\1F53D";
      font-size: 14px;
      float: right;
    }
    &.is-open {
      background-color: var(--accordion-heading);
      &:after {
        content: "\1F53C";
      }
    }
  }
  &-content {
    margin-bottom: 1rem;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    &.is-open {
      max-height: 100vh;
      padding-top: 1rem;
    }
  }
  h3 {
    margin: 0;
  }
}
