.emojinator {
  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  padding: 1.5rem;
  margin-bottom: 1.5rem;
  input {
    padding: 12px 8px;
    background-color: var(--link-background-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
  }
  &-form {
    margin-top: 2rem;
    @include mq($from: tablet) {
      max-width: 50%;
    }
    display: inline-flex;
    flex-direction: column;
    * + * {
      margin-bottom: 1rem;
    }

    #more-imgs-wrapper:not(.hidden) {
      display: grid;
    }
  }

  label {
    margin-bottom: 0.5rem;
  }
}

.embiggener-output {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  img {
    border: 1px solid var(--border-color);
  }
}

.embiggener-example {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 2px;
  grid-column-gap: 2px;
}

#selectionRectangle {
  fill: var(--selection-rectangle-fill, rgba(0, 0, 0, 0.5));
}

.action-button {
  @extend .secondary;
  font-size: 0.8rem;
  font-variation-settings: "wght" 500;
  padding: 0;

  &:hover {
    background: var(--link-color);
  }
}

.canvas {
  @include mq($from: tablet) {
    display: flex;
    flex-direction: column;
  }
  .controls {
    display: grid;
    margin: 1rem auto;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    #rotate-right svg {
      transform: scale(-1, 1);
    }

    #align-center svg {
      transform: rotate(-90deg);
    }
    #flip-horizontal svg {
      transform: rotate(90deg);
    }
  }
  &-actions {
    display: flex;
    flex-direction: column;
    button {
      margin-bottom: 0.25rem;
    }
  }

  .canvas-border {
    display: flex;
    justify-content: center;
    @include mq($until: tablet) {
      margin-bottom: 1rem;
    }
    canvas {
      border: 1px solid var(--border-color) !important;
    }
  }
}

.hidden {
  display: none !important;
}

#output {
  margin: 0 auto;
}

.robot-hearts {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
