.emojinator {
  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  @include mq($from: desktop) {
    padding: 1.5rem;
  }
  position: relative;
  margin-bottom: 1.5rem;

  label {
    margin-bottom: 0.5rem;
  }
}

.embiggener-output {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  img {
    border: 1px solid var(--border-color);
  }
}

.action-button {
  @extend .secondary;
  font-size: 0.8rem;
  font-variation-settings: "wght" 500;
  padding: 0;

  &:hover {
    background: var(--primary);
  }
}

.canvas-area {
  background-color: var(--primary-background);
  border-radius: 10px;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  @include mq($from: tablet) {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
  }

  @include mq($from: tablet) {
    display: flex;
    flex-direction: column;
  }
  .controls {
    display: grid;
    margin: 1rem auto;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    &-wrapper {
      height: 100%;
    }
    #rotate-right svg {
      transform: scale(-1, 1);
    }

    #align-center svg {
      transform: rotate(-90deg);
    }
    #flip-horizontal svg {
      transform: rotate(90deg);
    }
  }
  &-actions {
    display: flex;
    flex-direction: column;
    button {
      margin-bottom: 0.25rem;
    }
  }

  .canvas-container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 1rem;
    canvas {
      border: 1px solid var(--border-color) !important;
    }
  }
}

.hidden {
  display: none !important;
}

#output {
  margin: 0 auto;
}

// #canvas {
//   display: grid;
//   width: 200px;
//   height: 200px;
//   grid-template-columns: repeat(10, 1fr);
//   grid-template-rows: repeat(10, 1fr);
//   .konvajs-content {
//     grid-row: 1 / span 10;
//     grid-column: 1 / span 10;
//     margin: 0 !important;
//   }
// }
