.full-width {
  text-align: center;
  // max-width: 900px;
  margin: 0.5rem;
  @include mq($from: tablet) {
    margin: 1rem;
  }

  @include mq($from: desktop) {
    padding: 2rem;
    padding-top: 0;
  }
}

.main-container {
  margin-bottom: 3rem;
}

.top-pad {
  padding-top: 1rem;
}

.bottom-pad {
  padding-bottom: 1rem;
}

.page-title {
  // font-family: var(--family-monospace);
  margin-bottom: 2rem;
  margin-top: 0;
  // margin-left: 1rem;
}

.social-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.intro {
  border-radius: 6px;
  border: 1px solid var(--border-color);
  padding: 2rem;
  @include mq($from: tablet) {
    max-width: 75%;
  }

  @include mq($until: tablet) {
    margin-bottom: 1rem;
  }
  .strong {
    font-variation-settings: "wght" 600;
    margin-bottom: 1rem;
  }
}

.grid h2,
.intro h2 {
  margin-bottom: 1rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    max-width: 90%;
    font-size: 2rem;
    padding: 2.5rem;
    border: 2px dashed black;
    color: white;
  }
}
