:root {
  --magenta-90: hsla(303, 88%, 90%, 1);
  --magenta-60: hsla(303, 88%, 60%, 1);
  --lime-70: hsla(125, 88%, 70%, 1);
  --purple-80: hsla(251, 78%, 80%, 1);
  --purple-68: hsla(251, 78%, 68%, 1);
  --purple-50: hsla(251, 54%, 50%, 1);
  --sky-blue: hsl(190, 80%, 88%);
  --gunmetal-85: hsla(212, 14%, 85%, 1);
  --gunmetal-20: rgb(140, 143, 146);
  --gunmetal-12: hsla(212, 14%, 12%, 1);
  --pacific-blue: hsla(187, 100%, 40%, 1);
  --family-monospace: "Diary of an 8-bit Mage", monospace;
  --heading-font-family: var(--family-monospace);
}

@mixin dark-colors {
  --background-color: fixed
    linear-gradient(hsla(239, 50%, 20%, 1), hsla(251, 54%, 50%, 1) 80%);
  --body-color: white;
  --header-color: #5cf0cb;
  --body-font-weight: "wght" 375;
  --selection-rectangle-fill: var(--secondary);
  --heading: #fffffe;
  --body: #fffffe;
  --primary-background: #242629;
  --secondary-background: #16161a;
  --primary: #7f5af0;
  --primary-hover: #6b3fee;
  --secondary: hsl(240, 8.3%, 20.4%);
  --secondary-hover: hsl(240, 8.3%, 11.4%);
  --border-color: hsl(240, 8.3%, 30.4%);
  --tertiary: #5cf0cb;
  --link-hover: #affee9;
  --disabled-button-color: lightgrey;
}

:root {
  --background-color: fixed
    linear-gradient(hsla(190, 80%, 70%, 1), hsla(190, 80%, 90%, 1));
  --body-font-weight: "wght" 400;
  --header-color: #8a75f0;
  --heading: #00214d;
  --body: #1b2d45;
  --primary-background: #f2f4f6;
  --secondary-background: #fffffe;
  --primary: #00ebc7;
  --primary-hover: #00b89d;
  --secondary: #fffffe;
  --secondary-hover: #dee3e8;
  --border-color: #cad2da;
  --tertiary: #8a75f0;
  --link-hover: #00b89d;
  --disabled-button-color: hsl(240, 8.3%, 50.4%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-mode: "dark";
  }

  :root:not([data-user-color-scheme]) {
    @include dark-colors;
  }
}

[data-user-color-scheme="dark"] {
  @include dark-colors;
}

$title-weight: 300;
$weight-bold: 600;

$tablet: 768px;
$desktop: 960px;
$desktop-lg: 1025px;

.visually-hidden {
  display: block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px);
  white-space: nowrap;
  position: absolute;
}
