{{ define "main" }}
  <img src="/images/sob.png" class="visually-hidden" alt="" id="img-sob"/>
  <img src="/images/tear.png" class="visually-hidden" alt="" id="img-tear"/>
  <img src="/images/tear-red.png" class="visually-hidden" alt="" id="img-tear-red"/>
  <img src="/images/devil-horn.png" class="visually-hidden" alt="" id="img-devil-horns"/>
  <img src="/images/halo.png" class="visually-hidden" alt="" id="img-halo"/>
  <div class="robot-gallery">
    <img src="/images/robot-sobeyes.png" width="48" alt=""/>
    <img src="/images/robot-stars.png" width="48" alt=""/>
    <img src="/images/robot-fireeyes.png" width="48" alt=""/>
    <img src="/images/robot-hearts.png" width="48" alt=""/>
    <img src="/images/robot-tear.png" width="48" alt=""/>
    <img src="/images/robot-halo.png" width="48" alt=""/>
    <img src="/images/robot-devil-horns.png" width="48" alt=""/>
  </div>
  <p>Starry eyed? In love? Angelic? Crying tears of blood? Say it with emoji.</p>
  <form class="emojinator-form" id="form">
    <label for="eye-input">Choose an image</label>
    <input
            name="image"
          id="eye-input"
            type="file"
            accept=".jpg, .jpeg, .png"></input>
    <label for="option">Choose an option</label>
    <select
              id="option"
              name="option">
      <option value="stars">⭐️ Stars</option>
      <option value="hearts">❤️ Heart</option>
      <option value="fire">🔥 Fire</option>
      <option value="sob">😭 Crying</option>
      <option value="tear">😂 Joy tears</option>
      <option value="tear-red">🩸 Blood tears</option>
      <option value="halo">😇 Halo</option>
      <option value="devil-horns">😈 Devil horns</option>
    </select>
    <button type="submit" id="submit" disabled>Let's go!</button>
    <button type="reset" class="secondary">Reset</button>
  </form>
  {{ partial "canvas/canvas-area.html" .}}
{{ end }}