{{ define "main" }}

  <p>Make a giant, 4-tile version of a picture so that your emoji can have EXTRA IMPACT.</p>
  <div class="embiggener-example">
    <img src="/images/robot-topleft.png"/>
    <img src="/images/robot-topright.png"/>
    <img src="/images/robot-bottomleft.png"/>
    <img src="/images/robot-bottomright.png"/>
  </div>
  <form class="emojifier-form" onsubmit="embiggenFormSubmit(event);">
    <label htmlFor="file">Choose an image</label>
    <input
            name="image"
            id="file"
            type="file"
            onchange="onImageSelect(event, img)"
            accept=".jpg, .jpeg, .png"></input>

    <button type="submit" id="submit" disabled>Submit</button>
  </form>
  <div id="output" class="embiggener-output hidden">
    <a id="link1"><img id="output1" alt="download top left"/></a>
    <a id="link2"><img id="output2" alt="download top right"/></a>
    <a id="link3"><img id="output3" alt="download bottom left"/></a>
    <a id="link4"><img id="output4" alt="download bottom right"/></a>
  </div>

{{ end }}