{{ define "main" }}

  <form class="emojifier-form" onsubmit="embiggenFormSubmit(event);">
    <label htmlFor="file">Image to embiggen</label>
    <img src="/images/fire.png" id="fire" alt=""  width="0" height="0">
    <img src="/images/check.png" id="check" alt="" width="0" height="0">
    <input
            name="image"
            id="file"
            type="file"
            onchange="onImageSelect(event, img)"
            accept=".jpg, .jpeg, .png"></input>

    <button type="submit" id="submit" disabled>Submit</button>
  </form>
  <div id="output" class="embiggener-output hidden">
    <a id="link1"><img id="output1" alt="download top left"/></a>
    <a id="link2"><img id="output2" alt="download top right"/></a>
    <a id="link3"><img id="output3" alt="download bottom left"/></a>
    <a id="link4"><img id="output4" alt="download bottom right"/></a>
  </div>

{{ end }}