{{ define "main" }}
  <p>Make an image go round and round and round. Choose from three speeds. </p>
  <img src="/images/rotating-robot.gif" alt=""/>

  <form id="rotate-form" class="emojifier-form">
    <label for="rotate-input">Choose an image</label>
    <input
            name="image"
            id="rotate-input"
            type="file"
            accept=".jpg, .jpeg, .png"></input>
    <label for="speed">Speed
            <select
              id="speed"
              name="speed">
        <option value="0.5">0.5x</option>
        <option value="1" selected>1x</option>
        <option value="2">2x</option>
      </select>
    </label>
    <button type="submit" id="submit" disabled>Submit</button>
  </form>
  <img id="output"/>
  <button id="download" class="hidden" type="button">Download</button>

{{ end }}