{{ define "main" }}
  <p>Something a little bit on fire? Need a quick way to say something is done? Something down?
<br/>Add a status to your emoji.</p>
  <div class="status-examples">
    <img src="/images/robot-done.png" alt=""/>
    <img src="/images/robot-fire.png" alt=""/>
    <img src="/images/robot-red.png" alt=""/>
  </div>
  <form id="status-form" class="emojifier-form">
    <img src="/images/fire.png" id="fire" alt=""  width="0" height="0">
    <img src="/images/check.png" id="check" alt="" width="0" height="0">
    <label for="status-input">Choose an image</label>
    <input
            name="image"
            id="status-input"
            type="file"
            accept=".jpg, .jpeg, .png"></input>
    <label for="status">Status
    </label>
    <select
              id="status"
              name="status">
      <option value="fire">🔥 Fire</option>
      <option value="check">✅ Done</option>
      <option value="red">Red</option>
    </select>
    <button type="submit" id="submit" disabled>Submit</button>
  </form>
  <img id="output"/>

{{ end }}