{{ define "main" }}
  <p>Stick something on top of something else. Standard.</p>
  <form id="superimposer-form" class="emojifier-form">
    <label for="img1">First image</label>
    <input
            name="image"
            id="img1"
            type="file"
            accept=".jpg, .jpeg, .png"></input>
    <label for="img2">Second image</label>
    <input
            name="image"
            id="img2"
            type="file"
            accept=".jpg, .jpeg, .png"></input>
    <div class="hidden" id="more-imgs-wrapper">
      <label for="imgs">More images<br/>(you can select more than one)</label>
      <input
            name="image"
            id="imgs"
            type="file"
            multiple
            accept=".jpg, .jpeg, .png"></input>
    </div>
    <button type="button" id="more-imgs" class="secondary">Add more images</button>
    <button type="submit" id="submit" disabled>Submit</button>
    <button type="reset" class="secondary">Reset</button>
  </form>
  <div id="superimposer-canvas" class="canvas-border"></div>

  <div class="hidden" id="actions">
    <p>Select images by double-clicking them. Click in blank areas of the canvas to deselect.</p>
    <button id="move-up" type="button">Move selected layer to top</button>
    <button id="move-down" type="button">Move selected layer to back</button>
    <button id="download" type="button">Download</button>
  </div>
{{ end }}