{{ define "main" }}
  <p>Stick something on top of something else. Standard.</p>
  <img src="/images/robot-bin.png" alt="" width="100"/>
  <form id="form" class="emojinator-form">
    <label for="img1">First image</label>
    <input
            name="image"
            id="img1"
            type="file"
            accept=".jpg, .jpeg, .png"></input>
    <label for="img2">Second image</label>
    <input
            name="image"
            id="img2"
            type="file"
            accept=".jpg, .jpeg, .png"></input>
    <div class="hidden" id="more-imgs-wrapper">
      <label for="imgs">More images<br/>(you can select more than one)</label>
      <input
            name="image"
            id="imgs"
            type="file"
            multiple
            accept=".jpg, .jpeg, .png"></input>
    </div>
    <button type="button" id="more-imgs" class="secondary">Add more images</button>
    <button type="submit" id="submit" disabled>Submit</button>
    <button type="reset" class="secondary">Reset</button>
  </form>
  <img src="/images/bin.png" class="visually-hidden" id="bin-img"/>
  {{ partial "canvas/canvas-area.html" . }}
{{ end }}