{{ define "main" }}
  <img src="/images/cowboy-hat.png" alt="" id="cowboy-hat"/>
  <form class="emojifier-form" onsubmit="yeeFormSubmit(event);">
    <label htmlFor="file">Image to yee-ify (max 128kb)</label>
    <input
            name="image"
            id="file"
            type="file"
            onchange="onImageSelect(event, img)"
            accept=".jpg, .jpeg, .png"></input>
    <button type="submit" id="submit" disabled>Submit</button>
  </form>
  <canvas id="yee-canvas"></canvas>
  <button type="button" id="scale-up">+</button>
  <button type="button" id="scale-down">-</button>
  <button type="button" id="rotate-l">L</button>
  <button type="button" id="rotate-r">R</button>
  <img id="output"/>
{{ end }}