{{ define "main" }}
  <img src="/images/cowboy-hat.png" alt="" id="cowboy-hat"/>
  <form class="emojifier-form" onsubmit="yeeFormSubmit(event);">
    <label htmlFor="file">Image to yee-ify (max 128kb)</label>
    <input
            name="image"
            id="file"
            type="file"
            onchange="onImageSelect(event, img)"
            accept=".jpg, .jpeg, .png"></input>
    <button type="submit" id="submit" disabled>Submit</button>
  </form>
  <div id="yee-canvas"></div>
  <button id="add-hat" type="button">Add another hat</button>
  <img id="output"/>
{{ end }}