{{ define "main" }}
  <img src="/images/cowboy-hat.png" class="visually-hidden" alt="" id="cowboy-hat"/>
  <img src="/images/yeerobot.png" width="64" alt=""/>
  <p>Add a cowboy hat. Add two cowboy hats. Go wild! Add <em>three</em> cowboy hats.</p>
  <form class="emojinator-form" id="form">
    <label for="yee-input">Choose an image</label>
    <input
            name="image"
          id="yee-input"
            type="file"
            accept=".jpg, .jpeg, .png"></input>
    <button type="submit" id="submit" disabled>Submit</button>
    <button type="reset" class="secondary">Reset</button>
  </form>
  <button id="add-hat" type="button" class="hidden">Add another hat</button>
  {{ partial "canvas/canvas-area.html" .}}
{{ end }}