<div class="accessory-container">
  <h2 class="visually-hidden">Faces & accessories</h2>
  <div class="accessory-selector">
    <form class="colour-picker accordion is-open" id="colour-picker">
      <h3>
        <button type="button" class="accordion-trigger is-open" data-contentid="colour-options">Colours & skin tones</button>
      </h3>
      <div class="accordion-content is-open colour-picker-content" id="colour-options" aria-expanded="true">
        <span class="visually-hidden">Colours will be updated automatically as you select them.</span>
        <div class="color-picker-list">
          <label for="primary-color" id="primary-color-label">
            <input class="colour-picker-input" type="color" id="primary-color"/>
            <span class="colour-picker-preview" id="primary-preview" aria-hidden="true"></span>
            Primary colour/main skin colour
          </label>
          <label id="secondary-color-label" for="secondary-color">
            <input class="colour-picker-input" type="color" id="secondary-color"/>
            <span class="colour-picker-preview" id="secondary-preview" aria-hidden="true"></span>
            Secondary colour</label>
          <label id="tertiary-color-label" for="tertiary-color">
            <input class="colour-picker-input" type="color" id="tertiary-color"/>
            <span class="colour-picker-preview" id="tertiary-preview" aria-hidden="true"></span>
            Tertiary colour</label>
        </div>
        <fieldset class="skintone-picker">
          <legend>Default skintone</legend>
          <label class="skintone-picker-option" id="skintone-label-a" for="a"><input type="radio" class="skintone-picker-input" id="a" name="skintone" value="a"/>
            <span class="visually-hidden">Base</span><img src="/images/swatches/base.svg"/></label>
          <label class="skintone-picker-option" id="skintone-label-b" for="b"><input type="radio" class="skintone-picker-input" id="b" name="skintone" value="b"/>
            <span class="visually-hidden">Light</span><img src="/images/swatches/1f3fb.svg"/></label>
          <label class="skintone-picker-option" id="skintone-label-c" for="c"><input type="radio" class="skintone-picker-input" id="c" name="skintone" value="c"/>
            <span class="visually-hidden">Medium-light</span><img src="/images/swatches/1f3fc.svg"/></label>
          <label class="skintone-picker-option" id="skintone-label-d" for="d"><input type="radio" class="skintone-picker-input" id="d" name="skintone" value="d"/>
            <span class="visually-hidden">Medium</span><img src="/images/swatches/1f3fd.svg"/></label>
          <label class="skintone-picker-option" id="skintone-label-e" for="e"><input type="radio" class="skintone-picker-input" id="e" name="skintone" value="e"/>
            <span class="visually-hidden">Medium-dark</span><img src="/images/swatches/1f3fe.svg"/></label>
          <label class="skintone-picker-option" id="skintone-label-f" for="f"><input type="radio" class="skintone-picker-input" id="f" name="skintone" value="f"/>
            <span class="visually-hidden">Dark</span><img src="/images/swatches/1f3ff.svg"/></label>
        </fieldset>
      </div>
    </form>
    <div class="accordion">
      <h3>
        <button type="button" class="accordion-trigger is-open" data-contentid="bases-options">Bases</button>
      </h3>
      <div class="accordion-content is-open accessory-selector-group" id="bases-options" aria-expanded="true">
        {% for base in bases %}
          <button type="button" title="{{ base.name }}" class="selector-option">
            {% if base.type === "img" %}
              <img src="/images/bases/{{ base.filename }}" alt="" id="{{ base.id }}" data-type="base"/>
            {% else %}
              {% include "partials/accessories/bases/" + base.filename %}
            {% endif %}
            <span class="visually-hidden">{{ base.name }}</span>
          </button>
        {% endfor %}
      </div>
    </div>
    <div class="accordion">
      <h3>
        <button type="button" class="accordion-trigger is-open" data-contentid="hats-options">Hats & hair</button>
      </h3>
      <div class="accordion-content is-open accessory-selector-group" id="hats-options" aria-expanded="true">
        {% for hat in hats %}
          <button type="button" title="{{ hat.name }}" class="selector-option">
            {% if hat.type === "img" %}
              <img src="/images/hats/{{ hat.filename }}" alt="" id="{{ hat.id }}" data-qty="{{ hat.qty }}"/>
            {% else %}
              {% include "partials/accessories/hats/" + hat.filename %}
            {% endif %}
            <span class="visually-hidden">{{ hat.name }}</span>
          </button>
        {% endfor %}
      </div>
    </div>
    <div class="accordion">
      <h3>
        <button type="button" class="accordion-trigger is-open" data-contentid="eyes-options">Eyes</button>
      </h3>
      <div class="accordion-content is-open accessory-selector-group" id="eyes-options" aria-expanded="true">
        {% for eye in eyes %}
          <button type="button" title="{{ eye.name }}" class="selector-option {{ " multiple" if eye.qty === 2 }} {{ " reversed" if not eye.noflip }}">
            {% if eye.type === "img" %}
              <img src="/images/eyes/{{ eye.filename }}" alt="" id="{{ eye.id }}" data-qty="{{ eye.qty }}" data-noflip="{{ "true" if eye.noflip else "false" }}"/>
            {% else %}
              {% include "partials/accessories/eyes/" + eye.filename %}
              {% if eye.qty === 2 %}
                {% include "partials/accessories/eyes/" + eye.filename %}
              {% endif %}
            {% endif %}
            <span class="visually-hidden">{{ eye.name }}</span>
          </button>
        {% endfor %}
      </div>
    </div>
    <div class="accordion">
      <h3>
        <button type="button" class="accordion-trigger is-open" data-contentid="mouths-options">Mouths</button>
      </h3>
      <div class="accordion-content is-open accessory-selector-group" id="mouths-options" aria-expanded="true">
        {% for mouth in mouths %}
          <button type="button" title="{{ mouth.name }}" class="selector-option">
            {% include "partials/accessories/mouths/" + mouth.filename %}
            <span class="visually-hidden">{{ mouth.name }}</span>
          </button>
        {% endfor %}
      </div>
    </div>
    <div class="accordion">
      <h3>
        <button type="button" class="accordion-trigger is-open" data-contentid="hands-options">Hands</button>
      </h3>
      <div class="accordion-content is-open accessory-selector-group" id="hands-options" aria-expanded="true">
        {% for hand in hands %}
          <button type="button" title="{{ hand.name }}" class="selector-option">
            {% include "partials/accessories/hands/" + hand.filename %}
            <span class="visually-hidden">{{ hand.name }}</span>
          </button>
        {% endfor %}
      </div>
    </div>
    <div class="accordion">
      <h3>
        <button type="button" class="accordion-trigger is-open" data-contentid="misc-options">Misc</button>
      </h3>
      <div class="accordion-content is-open accessory-selector-group" id="misc-options" aria-expanded="true">
        {% for miscItem in misc %}
          <button type="button" title="{{ miscItem.name }}" class="selector-option">
            {% if miscItem.type === "img" %}
              <img src="/images/misc/{{ miscItem.filename }}" alt="" id="{{ miscItem.id }}" data-qty="{{ miscItem.qty }}"/>
            {% else %}
              {% include "partials/accessories/misc/" + miscItem.filename %}
            {% endif %}
            <span class="visually-hidden">{{ miscItem.name }}</span>
          </button>
        {% endfor %}
      </div>
    </div>
  </div>
</div>